beautifulsoup4
docx2txt
duckduckgo_search
hugchat
langchain
pandas
pdfplumber
pydub
requests
sketch
SpeechRecognition
streamlit
streamlit_extras
youtube_search_python
youtube_transcript_api
chromadb
ffmpeg-python
ffprobe
huggingface_hub
